TENANT_BASE_URL=https://openam-commkentsb1-useast1-sandbox.id.forgerock.io
SERVICE_ACCOUNT_CLIENT_ID=service-account
SERVICE_ACCOUNT_ID=39e59e7a-d574-4448-9f73-fb2821543615
SERVICE_ACCOUNT_SCOPE=fr:am:* fr:autoaccess:* fr:idc:analytics:* fr:idc:certificate:* fr:idc:content-security-policy:* fr:idc:cookie-domain:* fr:idc:custom-domain:* fr:idc:dataset:* fr:idc:esv:* fr:idc:promotion:* fr:idc:release:* fr:idc:sso-cookie:* fr:idc:telemetry:* fr:idm:* fr:iga:*
SERVICE_ACCOUNT_KEY='{
  "d": "AqOGuPrr_1jHaDuGXi318dfVc2ZJWHY8r650-FLHKcQDm_HMOIU-4uLqT8yJmWnRt6io2VzhviV1GmwHwUsakcrOIZVIgTl85WIjEoAviP-FybjK4K-95F11SyOfQ05Yp73LZVMOg1uJVzL7tPD72mMHCeQRFWpkrMpmI8bXYNmYr0yD7hdmelTSX2tDiLkEWrUVv7VuQMAeWgIwV3KUFlnVl7pHkvEPipzLvd4V8d_64vRP1Ki1jgB_5XNzNKBgcEFNCeYdC3VsDgBRAZAcrLnhUrb0sjgPWxXmhPahrqAScqSSFSV3VDQlAcb1KKObmahkDpA7F0pT_vEiv0JvQcjJ7QMWRh87kMaoThvfzRxL6yOGmVVH5Gk3xMkOYR8xvf5ZAt-x8ebF3XTlwiQYcsPgRKVJtaBLp4tLkG99F9FqBOD5zkFux6rMYLt-Wtr1gEqiAVpnL1uNinCkqvbDfJqcJ0m99UY0s9T5CLNJvLmflOJDb656pfZ-7neMyP0ajxi31t5-CRhKioWg1rrnhfIlMpoXpeWvtSyex9O1i3DZIh6v1Ibkmdp7XPzqTJPZU6eM7SXd9EYmpApRZAEqtVrsVPHyOEJ_-B3ZgKbSLtLtClsBEKrjSRMyEFKEY2-oeLNEexbKgsCzP5KJQIj4FnYL2nDVJGttboz2ytNvJAE",
  "dp": "uX6XHPHX-cnUQH5EDrrXl9flEdQDROJhdatUqUXRlg611HqUF5y5Vp3qtFvLlxApRmF4dxbYMoZQs6ejiJMbZ8lADld1uhRsKiEuL5PClEDYSjFhMkNuRIVZTtgaCjppR6TxnauQ8REBdmbQW4yhZIX7NR6BnZf-TJWXfEB3zIqtc7JShKULQQMvb8ZqHzVUo8mf0L3CtQXPttXIKkpIewyZ0vbkIuk4WAogDxwa6hgRv8jHGgHt5Hf4jf_moAXFY7mIXaEuy1GoY4FXbzG61Vn7dTl-rAA6Vy3ywl3I9amThbz6r5xy90DPiX0zpb8tlRsTaJ2KEmCf51vWlT8J0Q",
  "dq": "GzMvoPY5UfWkyDENyRCH0g6utJQ3c-OKLIKar0zl59fE3aBydMFf-GKjjl_cta34CHsnp1r1DTYxcb-2keY0c6c-Og9KLl9S8h8ewuFMUoCejayG4h2iWYTKDXogqLwRu03GzaUo7ivDxwKAKqsk24fEhj8vu-kVr1pDxBLGnXGxDWOwTS7euqxIzlG3cJ3Sh4sfkY8owXma2NFWBp6wD9tKohd3m3GHSRI2BoES8hFXHob68GKyJ-8gGByyL6Mzf3hEyCwg9TL8Pacdg97CV6gvwSz4cSuBYh78J7CBoyFn_0-jUzluPJt6nYUNK69GEr7l695ePgKdeqvdVD1YAQ",
  "e": "AQAB",
  "kty": "RSA",
  "n": "qUwmuJygdXsdMvuDn1ifVwg38eZfq7CX2bE4dTki2JKzraaSsAvhdVymldP9-5gHYzYiVuUV74KBiT5SSCQNwfEx2AGGlJxpea4qAxJt0GXyBul4SdXKpX3YzbsuuJpeAF0C6W7a41E_dr7xUf9yf0foK-IrujLlm0XHJ7ecris9P5SLfgPm3x6gM4jylsF93QZBG3yrdsH_x_-WJpL-GktrhyxO_4hUH6lghskxvJELYuqE0SVE-J7cxtJtiVsdGp_2xwYgOMFZsye5TBcdqCyfCXfFJmhmCRYUhBw69UmSqWsRWLqTBsKHD2dcgAEP-vxLbDYLqKQ49OF5BO62QYtPmR82souzFoW_XKYuCQQejvsBhGzgBElsc1VPRse15MjLWnDMkFSwriwtxDgDVJGOIHzRv2RvZNMvjtD41H4WZWeyxtE_o5CAw0G3taBVKi-KQyFNaIZuaYIHC42GIJDkGA0nGH5hKZoOzUGP1sOmaMh-NV9CAJC5BDGI7rwP8MFPNVirabESQUeYqa58mJpxOEFaYY5IYQVSuW0fs4Y6QYyeDdOewgSum9X4GYJDFcqc6A2DbyPWhUD6KXgNMznkEBlTKZjetLH7-8bDCsDww38Fq8dl8nY2AOMFnCXoqgFjiyuxuoR-0bi1crFDNPeoHCiaSdfTBBi1Vt0X35E",
  "p": "1AIOb6lyLa4aYLi-iELaaEerJWdzyEpIPr0sDdngeJQ9SQlx7AeFwi5SIWopXPas1ThHb0-PG3s9VoBnpjQZ0V3WymkDxT0ZGPeV9k2Fyc6drHDJ9JUimrGiLvbPvpZ_KujUjvofekmT4CkIRj1_nVA_n9L0ztJSscSKtkAaDzebBe6tukn-lucYLf4pAB47qO8iv72DDO-fet_tSPl9XXzGGQNwKUasqpv2xdv6-U2bJVbRCES3qcWL0LIsPjgkpsWSv917c16iE3_z7io8BpxzBTSWTN18f9jmQ3GGduI0YjQsnLNlWQRdiHPQkHLgxZ7T26CYpoVP0jFgmD9SEQ",
  "q": "zG1LRxmqwBZGZSmC4WsfjCs8sLPJv_htcoSsceVg5wlMQPpdoMIik5H3Gt_qFeu8FEqwsLFzUoguRCTh_CXDseY4Z7x78E7z1GBRynP_pFBam1WfqqSI5l_tv0z66sQuuB4fzo91h2snidBMe2Zi1pCtRSiSaQHs_S4f5HpxNcrggF_BjVzisAAaJWrL7dXRL1-QG60pWrnnLPtE0Dn46VEZwg7YoOoAx-ltO2TMbCmbAVp3Dn31-maivLwxNqVvZzcVJotOe6dDqLrPAFw_mei7Oa4UnQEDsChYgROIU7NKtRF1C6XbEapAndFXY_Jt-ZHefvOdQGChgXLZBBI1gQ",
  "qi": "WvG_fEoN90QZS-RX77kBdnWKkOVdou-_et5VfMTpDHKcgsvL1Hyt1W5tKPXegB8yGpnr2Z3M2Pt9RUoK9PamWneAvejc_ckc-QSWJDmNbPDwNU5mfJNNuCNlBL9G_iVzjXP2qmP4vrdgIxAxKOVj3eMk7BjhLfG8tBcQkgD5I21n1bg6BXKm_fGikiFTTCDoEUAieeBwCAX7SNpo_N85_DBI4aH4FJn1GMHGQTSzFqE50Ae4KGA-ICqe1MMTH0cuOKj3ju5KYk6FMOWRUX02itfwB5IcxDoq1uAV_cs-QILQGvrlYr_cFOupOc7KeHsA3EyX62SMjxthsa0hr8PtxA"
}'
CONFIG_DIR=./config
REALMS=["alpha"]
SCRIPT_PREFIXES=[""]
