TENANT_BASE_URL=https://openam-commkentwf-useast1-dev.id.forgerock.io
SERVICE_ACCOUNT_CLIENT_ID=service-account
SERVICE_ACCOUNT_ID=0926003b-76b2-4773-8392-fd9f032e3b0d
SERVICE_ACCOUNT_SCOPE=fr:am:* fr:autoaccess:* fr:idc:analytics:* fr:idc:certificate:* fr:idc:content-security-policy:* fr:idc:cookie-domain:* fr:idc:custom-domain:* fr:idc:dataset:* fr:idc:esv:* fr:idc:promotion:* fr:idc:release:* fr:idc:sso-cookie:* fr:idc:telemetry:* fr:idm:* fr:iga:*
SERVICE_ACCOUNT_KEY='{
  "d": "EOAYTXO-16lP1fh7BStMze_reDpaJN_460Mfx1EQQigKhfYp9LlLMny0qh9_mK3falMn5xA8ai-E47GpZJXsS5pAGSE-96ShkTBdjH0RS0Eug74sXTej2NVP27tw_XiqatwhrJjoDWUj2eEZW9lsitNcUiOuGwDTT-ElF8SGaivWcFhmw9keyl-3IlibuzJA6QYdt__3n5Blbt51YJt6pQA1v6H6Lps2IKizZc7817R8OY5j6nXnkgIt-OTLORZeLa6IYYprphpmLfcUv1dkqu1YNMvPYagS8SxU2c5fjNZ4v1I8GRLi-HzFomTbZk8SFfFBfaLBvTJ3lxOqUiulEq51QCXZDRu0FO8H4vdinJtonTMwJkwS6RqrGSFFaLPjesKnvtYE30Libzm5bNyXytKxjG5ri4uMqUaTEnRIEhw5kbnLJ3YiC7aAS2YqkzsaGd8Yq2KMjG9wn2Ixkc2SYluzyETY8TLXzkxTCSGvCW6qggDClIrK5smW05OUJvWav0wJlhtRp78p0IlyiV3g8ocx1cdEL0xXvJQ82kBz4Gs1mXY6c8bXZIXjJqc3_dzPycU9rG2WKo2YV-8XmPAYFHNC87Y6EuHp8q97VfxDk_oon9mkbHd9k3t7aHT1W31JbPx_lrLZljBlP7OIIP4zBAVmW2RYgNHDmchkHZl7uhk",
  "dp": "X9FPO_mg31QMJpduzobP4FTe6u26MSqf3OCACg0wFFBkUjEf7paNcWZnkOVmjErDDSdDEW56hQSGB7nBHkHttLKtclwgaXs0IY9ef7vUEcgIZHLZ1Py5iME5VDZYwVYBuDAg0DrVmBiu2fsMDzJoj_qe7pnyQSlfx8_K8YsewM4yzeRf19Q1uAdvLRDrV_h-Q787Ok-V9KeGiz_UJUvastmV6pnFzjRTaYcr5xmM_GIZMWVjp6v0qVjaj-uRqDetgDNVGZm_7l0UN3MUZ-NYaVn4R-1NTYtr0sX2ixVSVWhC_QkknpucMYUOs4xwIF-Y3I4sPPUstmnOxYnkJXGyhQ",
  "dq": "sXNZJtL6zT9c7Uop0hZjNPYbbE4WAhKbq0wnF3b1PL94Gt6HysrMGRB5txDky6k8yTvSxMmF6BFGO13KYnfpEEb-i3dKtFuLQyzuszC3Pb0c8_A5-buQEc71GSjT9vQXuEyqkk4rV2CPT0InDASkom5Q6uXqrZ3UjShfDSZ1yD1mS5TWcuc0_nOlj-pV9hH9vFH4gKQxxdJfku6WYeAwnAuj3tV5LfUBgj411qHVtkAftrvtVr--xAmp7kNLZRpVOLOQCY8EDPfQKvqlXbjNuTwmbZUmTPndhw7HSdQhqQH3jFS8U6uhE-WKtzOydjjFuYGEM7hDZyOwtNOktcTkuw",
  "e": "AQAB",
  "kty": "RSA",
  "n": "sPaWAyR0auPrmUeg-w6DYB0BFbBifvzPZrGnmCeGVnFGTgwmE5qTC5acSoDUBw0SIIUi7COWop3-hTtKHFhZvgvB7jkM94EfFTqzo_g1UZM_5d3zfsczpTh85UAUrq0MCX-Xfo5USQQiNEeEHVVsFQX1jD2r-T0IbRZdPXD3r5aBo5-s1GXbr9EXgEvycnmbgPozPBsg-5Av0FDJmtvFvn7ZgLSiuceVjDFgGsAcrLJDudDmMA4QoIjCH2-LeKvm4OlZuU4G7i70STzGrxQA6g70567K_Jrqi8KxuhYz02gfXllNE39TcQ8JwXwJ5-751DK3HDSt13S0ydTGHRvrPQh1WpCTddPDQBrpUdL_kbQIkQyCdPsjNTtxXr8CZbganEmN5cTZlxGJc20ORBuP9huh3HpvT4lWRE0c_4BHFywURV_QUn07ebO3QltsVDB5Oizbl8Lg_FhSUhtnwE3TKIYSr86BltphtRXrf4jgrq-WVfvcV81liC_Is6AsjattILw3ek_wBEkffxuPDpCiVJg01u0u_JrKzLbSBp4sU8BgLdAWR5uGYmNreWygx4ZbbrXBOX-HCHjDLUTb85vOxvjwBCX2TPf2idguvgKl5WVVsfLxmv4s4Tq9LDOxSc5LpEyoczgXRLN17JZ9gcVioP-DBtarAc3sy35FjQccIe8",
  "p": "6p6reDozLjJmsWv4cYeaYEkk1PSPzgDe5EZ7UFOnhX_bmisoQVTs7-HI4Z9Byvdu696Gi0vgZLA2I4V2-c1ww7x-V0O3UsxWUcYOs7SNMNkaFm5-k_2m7aIm09FBwSXblFGdqKuvap7l-xBKA6OaN0HXvoJWUp3Yn7BLdZlVxCcsZAoKWdoBK0-BBf98x8lZcSy0jwAge-9PurxcrIJss0i1dr4_EdICVRfqe2E57tUFiHwVb2WNSwfaDfc8EvNwVirES9s_caXxrVW6L81ZGiTgyg98zJPOqr9dVUStwoYLPcyJ2DGcQCwTjlze0-T2dyXuhsfSvFqILSbgq02FlQ",
  "q": "wRbfy4zR4008Tcd9pgCBzkis_H_yvUIFY6AaZvIq9CgyIZTKI8Y0zGXV4EtVk5jIu8Usgk2H8t8Dea-hrNzRLHSk6SLbzlSS33aznaRpy6UAPP2J43O520N2cGpZ0_UHOSHBqJsDH0UlF8U8En8iMN39SxrJ62voIA1hnAKuhrXJB2ejgl0pKgKGWswsftDok76DPUO9t_j79HKuvNuwxdEVTzrQPmw9Uny3hVBUopzgD8JVudAR5uYRYk4jgojDf9OyToBuBLeoc-VkyKoITAo3dWqucFKsXAPRgLJdDAxli1xK7bXMhm1bp84XAMh3vHc5RYBA4FFNRWGpFZygcw",
  "qi": "q7szZYgEUAdh-QEB3y8oYRnNj3Dte-rAhnFIqrtGq6gRUwTcDiWN2UUykJ9_TGebR5RWob69KDV3t6SfAxOdmaLnRZq_hgBBNvIFV4bhwVEvMJrsYlMssWkLsBrjNmTd0klCMUQoy7hGHvrt9zoTxoOqTVSA-FG1IZyxvQ-611w7PA4D-pms6LHF1N_IQ7Bz2dJIJp_EuqU2XEwwr0sOzq_pNFxLqrezPJOMHFvV06M9cKZIQ80OdQU-xj6fgKixwkLXGSfbUxb1ThvGjuJurNGJYXJyXaEj5b076rY3lh5M3lfvaO1GCoD-mGxtzxFIWNI8EwOpmPsDSGxuM5PQJw"
}'
CONFIG_DIR=./config
REALMS=["alpha"]
SCRIPT_PREFIXES=[""]
